{% extends 'blogs.html'%}
{% block content %}
<section class="u-align-center u-clearfix u-palette-5-dark-3 u-section-1" id="sec-2474">
  ::before
  <div class="u-clearfix u-sheet u-valign-middle u-sheet-1">
    ::before
    <h1 class="u-custom-font u-oswald u-text u-text-body-alt-color u-text-1">Blog Posts</h1>





<div class="u-blog u-blog-1">
          <div class="u-repeater u-repeater-1"><!--blog_post-->
            <div class="u-align-center u-blog-post u-container-style u-repeater-item u-video-cover u-white u-repeater-item-1">
              <div class="u-container-layout u-similar-container u-valign-top u-container-layout-1"><!--blog_post_image-->
                <img alt="" class="u-blog-control u-expanded-width u-image u-image-default u-image-1" src="images/business-people-sitting-office-desk-working-project_1098-17930.jpg" data-image-width="626" data-image-height="417"><!--/blog_post_image--><!--blog_post_header-->
                <h4 class="u-blog-control u-text u-text-3">
                  <a class="u-post-header-link" href="#"><!--blog_post_header_content-->Post 1 Headline<!--/blog_post_header_content--></a>
                </h4><!--/blog_post_header--><!--blog_post_content-->
                <div class="u-blog-control u-post-content u-text u-text-4"><!--blog_post_content_content-->Sample small text. Lorem ipsum dolor sit amet.<!--/blog_post_content_content--></div><!--/blog_post_content--><!--blog_post_readmore-->
                <a href="#" class="u-blog-control u-border-active-none u-border-hover-none u-btn u-btn-rectangle u-button-style u-none u-text-body-color u-btn-2"><!--blog_post_readmore_content-->Read More<!--/blog_post_readmore_content--></a><!--/blog_post_readmore-->
              </div>
            </div><!--/blog_post-->
            
          </div>
        </div>
        ::after
      </div>
      ::after
    </section>







   

{% endblock %}